.content_acquirements{
    .img_container{
       display: block; 
       text-align: center;
       img{
           width: 40%;
           margin: 4%;
       }
    }
}
@media screen and (min-width: 768px){
    .content_acquirements{
        .img_container{
           img{
               width: 17%;
               margin: 7% 8% 0;
           }
        }
    }
}