.banner{
    .btn{
        max-width: 65%;
    }
    .texts{
        margin-top: 2.6rem;         
        h1{
            margin: 1.5rem 0 1.2rem 0;
        }
    }   
    .img_banner{
        text-align: center;
        margin-top: 3.2rem;
    }  
}
@media screen and (min-width: 768px){
    .banner{
        display: flex;
        justify-content: space-between;
        width: 100%;
        .texts{
            margin-top: 6rem;
            width: 55%;
            h1{
                margin: 1.5rem 0 3rem 0;
            }
            p{
                max-width: 80%;
            }
        } 
        .img_banner{
            width: 45%;
            margin-top: 6rem;
        }
    }
}