body{
    font-family: 'SFProRounded';
    font-style: normal;
}
@font-face {
    font-family: 'Nexa';
    src: url("../fonts/NexaBold.otf");
    font-weight: bold;
}
@font-face {
    font-family: 'Nexa';
    src: url("../fonts/NexaRegular.otf");
}
@font-face {
    font-family: 'SFProRounded';
    src: url("../fonts/SF Pro Rounded Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: 'SFProRounded';
    src: url("../fonts/SF Pro Rounded Regular.ttf");
}
@font-face {
    font-family: 'SFProRoundedsemibold';
    src: url("../fonts/SF-Pro-Rounded-Semibold.ttf");
}
