.close{
    span{
        width: 48px;
        height: 48px;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        font-size: 1.3rem;
        background-color: #F5F8FA;
        color: #AEB0C1;
    }

}


